<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Moke File!</title>
  </head>
  <body>
    <div class="container">
      <h1>Moke File!</h1>
      <div class="form-group">
        <label for="file1">Example file input</label>
        <input
          type="file"
          class="form-control-file"
          id="file1"
          accept="{{ accept }}"
          onchange="uploadFile()"
        >
        <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
        <pre id="status"> </pre>
        <p id="loaded_n_total"></p>
      </div>
      <ul id="previews">
      </ul>
      <div id="thumbnails">
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
      function _(el) {
        return document.getElementById(el);
      }

      function uploadFile() {
        var file = _("file1").files[0];
        if (!file) {
          return;
        }
        var formdata = new FormData();
        formdata.append("file1", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", "/upload?_csrf={{ ctx.csrf | safe }}");
        ajax.send(formdata);
      }

      function progressHandler(event) {
        _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
        var percent = (event.loaded / event.total) * 100;
        _("progressBar").value = Math.round(percent);
        _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
      }

      function completeHandler(event) {
        var responseText = event.target.responseText;
        var responseJson = JSON.parse(responseText)
        _("status").innerHTML = JSON.stringify(responseJson, null, 2);
        _("progressBar").value = 0; //wil clear progress bar after successful upload
        if (responseJson.thumbnailUrl) {
          var img = document.createElement('img'); 
          img.src = responseJson.thumbnailUrl;
          img.className="img-thumbnail";
          _("thumbnails").appendChild(img); 
        }
        if (responseJson.previewUrl) {
          var divDom = document.createElement('div'); 
          var a = document.createElement('a'); 
          var li = document.createElement('li'); 
          li.className='list-group-item';
          a.href = responseJson.previewUrl;
          a.innerHTML = responseJson.previewUrl;
          a.target='blank';
          li.appendChild(a);
          divDom.appendChild(li);
          _("previews").appendChild(divDom); 
        }
      }

      function errorHandler(event) {
        _("status").innerHTML = "Upload Failed";
      }

      function abortHandler(event) {
        _("status").innerHTML = "Upload Aborted";
      }
    </script>
  </body>
</html>